img{
    width: 120px;
    height: 80px;
}
body{
    display: flex;
    flex-direction:column;
    width: auto;
    height: auto;
    background:linear-gradient(to bottom,rgba(158,7,73,.5)0%,
	rgba(0,0,120,.5)100%);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;

}
#ks{
    margin-left: 2%;
    display: flex;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;

}
#company{
    display:flex;
    font-size: 30px;
    margin-top: 3%;
}
.nav{
    border-radius: 10%;
    background:linear-gradient(to bottom,rgba(224, 43, 121, 0.5)0%,
	rgba(166, 232, 58, 0.5)100%);  
}

#reg{
    display: flex;
    float: right;
    color:black;
    font-size: 20px;  
    position:relative;
    bottom: 5%;
    margin-bottom: 30px; 
}
.center h3{
    display: flex;
}
.profile{
    display: flex;
    width: 50%;
    border-radius: 15px;
    margin-left:18%;

}
.profile img{
    border-radius: 50%;
    width:20%;
    height: 20%;
    margin-right: 5%;
    margin-top:5%;
}
.profile #text{
    float: right;
    margin-right: 5%;
}

.field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 15px;
    
    
}
.field input{
    display: flex;
    width: 60%;
    padding: 0 20%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #adadad;
    font-size: 20px;
}
.container{
    display: flex;
    position:relative;
    left:35%;
    margin-top: 17%;
    margin-bottom: 20%;
    flex-direction:column;
    align-items:center;
    width: 30%;
    height: 45%;
    border-radius: 15px;
    background:linear-gradient(to bottom,rgba(224, 43, 121, 0.5)0%,
	rgba(166, 232, 58, 0.5)100%);  
   
}
.center{
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    margin-top: 1%;
    border-radius: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background:linear-gradient(to bottom,rgba(158,7,73,.5)0%,
    rgba(0,0,120,.5)100%);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}

#btn{
    margin: 2% 1%;
    border-color: azure;
    border-radius:2ch ;
    background:linear-gradient(to bottom,rgba(224, 43, 121, 0.5)0%,
	rgba(166, 232, 58, 0.5)100%);  
}

#register1{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
    height: auto; 
    border-radius:2ch ;
    background:linear-gradient(to bottom,rgba(224, 43, 121, 0.5)0%,
	rgba(166, 232, 58, 0.5)100%);  
}
.msk{
    display: flex;
    flex-direction: row;
    text-align: start;
    color: antiquewhite;
    background:linear-gradient(to bottom,rgba(224, 43, 121, 0.5)0%,
	rgba(166, 232, 58, 0.5)100%);   
    border-radius: 5%;  
}
.addr3{
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 10%;
    color: antiquewhite;
}
.addr4{
    display: flex;
    flex-direction: column;
    float: none;
    margin-left: 17%;
    color: antiquewhite;
}
#link{
    color: antiquewhite;
    font-size: large;
    float: left;
}
.addr5{ 
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 17%;
    color: antiquewhite;
}
#web img{
    display: flex;
    width: 60%;
    height: 500px;
    border-radius:3% ;
}
#details{
    display: flex;
    background:linear-gradient(to bottom,rgba(224, 43, 121, 0.5)0%,
	rgba(166, 232, 58, 0.5)100%);  
    width: 30%;
    height: 500px;
    padding-left: 5%;
    border-radius: 3%;
    position: absolute;
    top: 28%;
    left: 63%;
    
}
.footer{
    text-align: center;
    color: antiquewhite;
}
